@charset "UTF-8";

@media screen and (min-width: 1000px) {

    :root {
        --cor1: #F4F4F4;
        --cor2: #BFBFBF;
        --cor3: #A6A6A6;
        --cor4: #737373;
        --cor5: #595959;
        --cor6: rgba(221, 177, 110, 0.388);
        --cor7: #dcdbcf;
    
        --cor9: #000000f5;
        --cor8: #ddb16e;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        height: 130px;

        top: 0;
        left: 0;
        position: sticky;
        transition: 1s;
    }

    header.rolagem {
        height: 80px;
    }

    header.rolagem img{
        width: 170px; 
        padding: 20px;
    }

    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu li { 
        display: inline-block;
    }

    div.banner-principal {
        min-height: 460px;

        margin-bottom: 20px;
    }

    div#agendamento {
        display: block;
        margin: auto;
        width: 750px;        
    }

    div#servicos {
        display: block;
        margin: auto;
        width: 750px;
    }

    div#servicos p {
        padding-left: 30px;
        text-align: left;
    }

    div#nossos-servicos {
        display: block;
        margin: auto;
        width: 750px;

        background: url(../imagens/banner-servicos.png);
        background-position: left center;
        background-size: cover;
    }

    div#clientes {
        display: block;
        margin: auto;
        width: 750px;
    }

    div#clientes h1{
        padding: 65px 0px 25px 30px;
        text-align: left;
    }
    /*
    div.fotos-clientes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0px;
    }

    div.fotos-clientes li{
        display: inline-block;
    }

    div.fotos-clientes img{
        width: 290px;
    }

    .img01 {
        padding: 30px 10px 30px 10px;
    }
    
    .img02 {
        padding: 30px 10px 30px 10px;
    }
    
    .img03 {
        padding: 30px 10px 30px 10px;
    } */

    div.fotos-clientes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: 'Sulphur Point', sans-serif;
        align-items: center;
        margin: 0px;
        
    }

    div.img01 {
        width: 290px;
        height: 363px;
        background: url(../imagens/coloraçao.jfif);
        background-position: center bottom;
        background-size:cover;
        margin: 25px 10px;
        transition: 1s;
    }

    div.img01:hover {
        background: url(../imagens/coloraçao-hover.png);
        background-position: center bottom;
        background-size:cover;
        transition: 1s;
    }

    p.img01-p {
        color: transparent;
    }

    div.img01:hover p.img01-p {
        display: block;
        text-align: center;
        color: var(--cor1);
        padding-top: 280px;
        font-size: 2em;
        font-weight: bold;
        transition: 1s;
    }

    div.img02 {
        width: 290px;
        height: 373px;
        background: url(../imagens/blindagem.jfif);
        background-position: center bottom;
        background-size:cover;
        margin: 25px 10px;
        transition: 1s;
    }

    div.img02:hover {
        background: url(../imagens/blindagem-hover.png);
        background-position: center bottom;
        background-size:cover;
        transition: 1s;
    }

    p.img02-p {
        color: transparent;
    }

    div.img02:hover p.img02-p {
        display: block;
        text-align: center;
        color: var(--cor1);
        padding-top: 290px;
        font-size: 2em;
        font-weight: bold;
        transition: 1s;
    }

    div.img03 {
        width: 290px;
        height: 343px;
        background: url(../imagens/progressiva.jpg);
        background-position: center bottom;
        background-size:cover;
        margin: 25px 10px;
        transition: 1s;
    }

    div.img03:hover {
        background: url(../imagens/progressiva-hover.png);
        background-position: center bottom;
        background-size:cover;
        transition: 1s;
    }
    
    p.img03-p {
        color: transparent;
    }

    div.img03:hover p.img03-p {
        display: block;
        text-align: center;
        color: var(--cor1);
        padding-top: 280px;
        font-size: 2em;
        font-weight: bold;
        transition: 1s;
    }

    div#horarios {
        display: flex;
        margin: auto;
        width: 750px;
    }

    div#localizacao {
        display: flex;
        margin: auto;
        width: 750px;
    }

    div.legenda-iframe {
        display: block;
        width: 750px;
        margin: auto;
        text-align: center;
    }

    iframe {
        display: block;
        margin: auto;
        padding-bottom: 10px;
        width: 750px;
        height: 300px;
    }

                            /*SERVICOS*/

.servico-detalhe {
    display: block;
    margin: auto;
    width: 880px;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.2em;
}

.servico-detalhe h1 {
    margin-top: 25px;
    padding: 15px 0px 5px 0px;
    text-align: center;
    background-color: var(--cor1);
}

.servico-detalhe p {
    text-align: justify;
    padding: 0px 30px;
    text-indent: 1.5em;
    background-color: var(--cor1);
}

.servico-detalhe p.last-p {
    padding: 0px 0px 10px 0px;
}

.servico-detalhe ul {
    padding: 0px 0px 0px 0px;
}

.servico-detalhe li {
    list-style-type: none;
    font-size: 1.2em;
    text-indent: 3em;
    padding: 5px 0px 5px 35px;
    background-color: var(--cor1);
}

.servico-detalhe li:last-child {
    padding-bottom: 20px;
}

div.link-botao {
    margin: 30px 0px;
}

a.botao {
    display: block;
    margin: auto;
    width: 100px;
    text-align: center;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: var(--cor9);
    color: white;
    font-family: 'Sulphur Point', sans-serif;
    font-size: 1.4em;
    text-decoration: none;
    transition: .8s;
}

a.botao:hover {
    color: var(--cor2);
    background-color: #000000c9;
}

/*    DETOX    */
.banner-detox {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/botox.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-detox:hover {
    background: url(../imagens/banners/botox-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-detox p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-detox a {
    text-decoration: none;
    color: var(--cor2);
}

.banner-detox a:hover {
    color: white;
}

/*    COLORAÇÃO    */

.banner-coloracao {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/coloracao.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-coloracao:hover {
    background: url(../imagens/banners/coloracao-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-coloracao p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-coloracao a {
    text-decoration: none;
    color: var(--cor2);
}

.banner-coloracao a:hover {
    color: white;
}

/*    CORTE    */

.banner-corte {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/corte.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-corte:hover {
    background: url(../imagens/banners/corte-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-corte p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-corte a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-corte a:hover {
    color: white;
}

/*    CRONOGRAMA CAPILAR    */

.banner-cronograma {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/cronograma.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-cronograma:hover {
    background: url(../imagens/banners/cronograma-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-cronograma p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-cronograma a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-cronograma a:hover {
    color: white;
}

/*    ESCOVA    */

.banner-escova {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/escova.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-escova:hover {
    background: url(../imagens/banners/escova-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-escova p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-escova a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-escova a:hover {
    color: white;
}

/*    HIDRATAÇÃO    */

.banner-hidratacao {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/hidratacao.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-hidratacao:hover {
    background: url(../imagens/banners/hidratacao-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-hidratacao p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-hidratacao a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-hidratacao a:hover {
    color: white;
}

/*    PROGRESSIVA    */

.banner-progressiva {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/progressiva.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-progressiva:hover {
    background: url(../imagens/banners/progressiva-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-progressiva p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-progressiva a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-progressiva a:hover {
    color: white;
}

/*    SEMIDIFINITIVA    */

.banner-semidefinitiva {
    display: block;
    margin: auto;
    height: 360px;
    width: 880px;
    padding: 50px 0px;
    background: url(../imagens/banners/semidefinitiva.png);
    background-position: center bottom;
    background-size:cover;
}

.banner-semidefinitiva:hover {
    background: url(../imagens/banners/semidefinitiva-hover.png);
    background-position: center bottom;
    background-size:cover;
    transition: 1s;
}

.banner-semidefinitiva p {
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
}

.banner-semidefinitiva a {
    text-decoration: none;
    color: var(--cor1);
}

.banner-semidefinitiva a:hover {
    color: white;
}
















}